p {
    font-family: sans-serif;
    color: black;
    text-align: center;
    font-weight: 100;
    font-size: large;
}

/* makes all paragraph text the same font and size */

.logo {
    padding-left: 15px;
    padding-top: 30px;
}

/* fits the logo properly */

span:hover {
    background-color: yellow;
    font-weight: 800;
}

/* when you hover over specific text it bolds */

h1 {
    font-family: sans-serif;
    color: black;
    text-align: center;
    font-weight: 100;
    font-size: x-large;
}

/* centers and adds a border to each image */

.imgformat {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 2px solid black;
}

/* to underline only the caption text not the numbers or the navigation text down below. but how to justify to left of picture???*/

div span {
    text-decoration: underline;
}

.row {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}

.empty {
    flex: 2;
}

.container {
    flex: 1;
    text-align: left;
}

/* when you hover over the containers div this adds a yellow background color but how do you adjust the size of the back */

.container:hover {
    background-color: yellow;
    padding: 3px;
}