hr{
    border: 2px solid black
}

/* makes formatting for links the same as for paragraphs and regular text */
/* makes all paragraph text the same font and size */
p, a {
    font-family: sans-serif;
    color: black;
    text-align: center;
    font-weight: 100;
    font-size: large;
    text-decoration: none;
}

/* fits the logo properly */
.logo {
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 15px;
}

/* when you hover over specific paragraph text it bolds */
span:hover {
    background-color: yellow;
    font-weight: 800;
}

/* formatting for our hand-made cinnamon rolls */
h1 {
    font-family: sans-serif;
    color: black;
    text-align: left;
    font-weight: 100;
    font-size: x-large;
}

/* centers and adds a border to each image */
.imgformat {
    display: block;
    width: 100%;
    border: 2px solid black;
}

/* to underline only the caption text not the numbers or the navigation text*/
div span {
    text-decoration: underline;
}

/* flexbox guidelines they should center everyhting */
.row {
    display: flex;
    justify-content: center;
}

.container {
    flex: 2;
}

.empty {
    flex: 1;
}

/* when you hover over the containers div this adds a yellow background color */
.container:hover {
    background-color: yellow;
    padding: 8px;
}

/* this makes the text left alight with picture and also adjusts the space of yellow background around the picture. couldn't get it exactly right, tried adjusting a lot */
.caption{
    margin-top: 8px;
    margin-bottom: 0px;
    text-align: left;
}

/* everything for the header starts now */
.header {
    display: flex;
    column-gap: 20px;
}

.image {
    flex: 0 1 auto;
}

.righthand {
    flex: 1 0 auto;
}

.h1text {
    justify-content: left;
}

.makenavright {
    text-align: right;
}
